name: Deploy Next App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Node
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install --force

    - name: Build Next.js
      run: npm run build

    - name: Export static site
      run: npm run export

    - name: Zip build folder
      run: zip -r build.zip out/

    - name: Upload ZIP to cPanel deploy endpoint
      run: |
        curl -X POST \
        -F "file=@build.zip" \
        https://test1.emaan.edu.pk/deploy.php
